#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.Machine {
  border: 1px solid olivedrab;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  color: rgb(70, 70, 70);
}

.slot-card{
  margin: 20px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
